/* styles.css */

img {
    width: 250px;
    height: auto;
    padding: 2px;
}

h2 {
    color:blue;
}

.flex-container{

    display: flex; 
    border: solid green;
    padding: 16px;
    gap: 8px;
}

/* this selector selects all divs inside of .flex-container */
.flex-container div {
    background: peachpuff;
    border: 4px solid blue;
    height: 100px;
    flex: 1;
}